body {
    background-color:#b6b7b9;
    opacity: .7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    /* Position needs to be relative in order to give the effect of the button being compressed slightly */
    position: relative;
    font-size: 16px;
    font-weight: 300px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    /* Centers box */
    margin: 0 auto;
    border-radius: 20px;
    /* x offset and y offset */
    box-shadow: 0px 5px rgba(0, 0, 0, .6);
}

h1 {
    font-weight: 300;
    padding: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    opacity: .7;
}

.btn:hover {
    box-shadow: 0px 4px rgba(0, 0, 0, .6);
    /* Shift button down two pixels. Gives the effect of the button being clicked */
    top: 2px;
}

.btn:active {
    box-shadow: none;
    /* Makes it appear the button is being clicked. Box shadow goes completly away when user clicks on button  */
    top: 6px;
}