body {
    background-color: teal;
}


/* ======================================= */
     /* Hover Psuedo Effect on Hover */
/* ======================================= */
h1:hover {
    background-color: white;
    opacity: .7;
}

button:hover {
    color: blue;
    opacity: .7;
}

/* ======================================= */
         /* Focus Psuedo Class */
/* ======================================= */
/* Focus is a state that can persist whether the user is interacting with the element or not */
input:focus {
    background-color: red;
    opacity: .6;
}

button:focus {
    border-radius: 10px;
    background-color: yellow;
    opacity: .7;
}

/* ============================================= */
     /* Active PsuedoClass Effect on Hover */
/* =============================================*/
/* Active is when a user clicks on or taps on something in the moment. It is only active at that point */
button:active {
    background-color: orange;
    font-size: 30px;
}

h1:active, p:active {
    color: yellow;
}